* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

#contact {
    position: relative;
    min-height: 80vh;
    padding: 10px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading h1 {
    color: orangered;
   font-size: 55px;
   text-align: center;
   margin-top: 35px;
}


.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
   
}

.contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactinfo .box {
    position: relative;
    padding: 40px 0;
    display: flex;
}

.contactinfo .box .icon {
    min-width: 30px;
    height: 30px;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    font-size: 25px;
}

.contactinfo .box .text {
    display: flex;
    margin-left: 20px;
    color: #111111;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contactinfo .box .text h2 {
    font-weight: 500;
    color: orangered;
}

.contactform {
    width: 70%;
    padding: 40px;
    padding-top: 10%;
}

.input-box {
    top: 250px;
    position: absolute;
    width: 470px;
    transition: .5s;
    border-radius: 10px;
    background-color: rgb(214, 70, 17);
    height: 420px;
}

.input-1 {
    width: 80%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(19, 19, 18);
    outline: none;
    margin-left: 10px;
    color: rgb(19, 19, 18);
    background: transparent;
}

.input-2 {
    width: 70%;
    padding: 10px 0;
    margin: 35px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 10px;
    border-bottom: 1px solid rgb(18, 17, 17);
    outline: none;
    background: transparent;
}

.sub {
    margin: 30px 0;
    width: 100px;
    border-radius: 50%;
    background: #868d8d;
    color: #0b0b0b;
    border: none;
    cursor: pointer;
    left: 30px;
    padding: 6px;
    font-size: 18px;
    justify-content: center;
}

.sub::after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}

.sub:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
